html, body {
  background-color: #FFD1CB;
  min-height: 100%;
  margin: 0;
}
h3 {
  text-align: center;
}
#shares {
  border-radius: 25px;
  background-color: #eee;
  width: 75%;
  margin-left: 12.5%;
  padding: 4px 0;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  font-size: 24px;
  margin: 20px;
  padding: 4px;
  text-align: center;
  background-color: #ddd;
  border-radius: 25px;
}
form {
  box-sizing: border-box;
  margin: 20px 20px 0 20px;
}
form > input[type=text] {
    outline: none;
    width: 100%;
    margin: 0 20px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 5px solid white;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 0 0;
}
form > input[type=submit] {
  display: none;
}
form > input[type=text]:focus {
  border-color: #FFD1CB;
}
form:last-of-type {
  margin-bottom: 20px;
}
.remove {
  float: right;
  padding-right: 16px;
}
.bottomPadding {
  opacity: 0;
}
.noPosts {
  padding: 200px 0;
  text-align: center;
}
ul {
  border-radius: 25px;
}
.index {
  float: left;
  color: #949494;
  padding-left: 16px;
}