- sharesCount = 0
- highestIndex = 0
doctype
html
  head
    link(rel="stylesheet" href="/style.css")
  body
    #wrapper
      h3 #{key}'s shares
      include ./list.jade
      h3(class="bottomPadding") &nbsp;
script.
  highestIndex = #{highestIndex};
  user = "#{key}"
script(src="/shares.js")